h1{
    text-align: center;
}

.scoreContainer{
    width: 100%;
}

#topscores{
    width: 80%;
    margin: auto;
    margin-bottom: auto;
}

.currentPlayer{
    color: orange;
}

.wrapper{
    width: 100%;
    text-align: center;
    margin-top: 5%;
}

th {
    text-align: center;
}

td {

    padding-right: 2%;
    padding-left: 2%;
}

table {
    margin: auto;
}