.axxes-logo{
    height: 25px;
    padding-top: 10px;
}

.title{
    font-size: 35px;
    color:white;
    font-weight: bold
}

mat-toolbar{
    margin-bottom:10px;
}

.tic{
    color: #ffaa33;
}

.fill-remaining-space {
    /*This fills the remaining space, by using flexbox.  
   Every toolbar row uses a flexbox row layout. */
   flex: 1 1 auto;
 }